<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Resume of {{ resume.basics.name }}">
  <meta name="author" content="{{ resume.basics.name }}">
  <title>{{ resume.basics.name }}</title>
  <link rel="stylesheet" href="bootstrap.css" />
  <link rel="stylesheet" href="fontawesome.css" />
  <link rel="preload" href="webfonts/opensans.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <script>
    function toggler() {
      let ct = document.documentElement;
      let toggle = document.getElementById("toggler");
      if (ct.getAttribute("data-bs-theme") == "light") {
        ct.setAttribute("data-bs-theme", "dark");
        toggle.classList.replace("fa-moon", "fa-sun");
        document.body.classList.replace("bg-light", "bg-dark-subtle");
      } else {
        ct.setAttribute("data-bs-theme", "light");
        toggle.classList.replace("fa-sun", "fa-moon");
        document.body.classList.replace("bg-dark-subtle", "bg-light");
      }
    }
  </script>
  <style>
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400 700;
      font-stretch: 100%;
      font-display: swap;
      src: url(webfonts/opensans.woff2) format('woff2');
    }
  </style>
</head>

<body style="font-family: 'Open Sans', sans-serif" class="bg-light">
  <div class="container" style="max-width: 55em">
    <div class="row pb-1 pt-2">
      <div class="col px-2">
        <div class="card">
          <div class="card-body m-3">
            <div class="row">
              <div class="col" style="max-width: 20em">
                <img src="{{ resume.basics.picture }}" class="rounded-circle w-100" alt="{{ resume.basics.name }}">
              </div>
              <div class="col-9 ml-2">
                <h3 class="card-title">{{ resume.basics.name }}</h3>
                <p class="card-text text-muted pt-1 mb-1">{{ resume.basics.label }}</p>
                <div class="pt-1">
                  <i class="fa fa-lg fa-map-marker-alt text-muted"></i>
                  <span class="text-body align-top" style="font-size: 0.85rem">{{ resume.basics.location.city }}, {{ resume.basics.location.region }}, {{ resume.basics.location.countryCode }}</span>
                </div>
                <div class="row pt-4">
                  {% for profile in resume.basics.profiles %}
                  <div class="col {% if loop.index > 1 %}text-center{% endif %}">
                    <a href="{{ profile.url }}" class="card-link" style="text-decoration: none" target="_blank">
                      <i class="fab fa-xl fa-{{ profile.network.lower() }} text-muted align-middle"></i>
                      <span class="align-middle" style="color: #428bca; font-size: 0.85rem">{{ profile.short_url }}</span>
                    </a>
                  </div>
                  {% endfor %}
                  <div class="col text-end">
                    <a href="mailto:{{ resume.basics.email }}" class="card-link" style="text-decoration: none" itemprop="email">
                      <i class="fab fa-xl fa-at text-muted align-middle"></i>
                      <span class="align-middle" style="color: #428bca; font-size: 0.85rem">{{ resume.basics.email }}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col">
                <i class="fa fa-lg fa-moon text-muted" onclick="toggler()" id="toggler"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-1">
      <div class="col-md px-2">
        <div class="card">
          <div class="card-body px-5 py-5">
            <div class="row">
              <div class="col">
                <i class="fa fa-lg fa-user text-muted" style="width: 2rem"></i>
                <p class="text-muted d-inline" style="font-size: 1.25rem">About</p>
                <hr class="text-muted" />
                <div class="row pt-3">
                  <div class="col">
                    <div style="float: right; width: 95%">
                      <p style="text-indent: 2rem">{{ resume.basics.summary }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-5">
                <div class="col">
                  <i class="fa fa-lg fa-briefcase text-muted" style="width: 2rem"></i>
                  <p class="text-muted d-inline" style="font-size: 1.25rem">Work Experience</p>
                  <hr class="text-muted" />
                  <div class="row pt-3">
                    <div class="col">
                      <div style="float: right; width: 95%">
                        <ul class="list-unstyled">
                          {% for work in resume.work %}
                          <li class="pb-4">
                            <p class="mb-1">
                              <strong>{{ work.position }}</strong>,&nbsp;
                              {% if work.website is not none %}
                              <a href="{{ work.website }}" class="card-link" style="color: #428bca; text-decoration: none" target="_blank">{{ work.company }}</a>
                              {% else %}
                              {{ work.company }}
                              {% endif %}
                            </p>
                            <p class="text-muted">
                              <small>
                                <span>{{ humanize_date(work.startDate, work.get('endDate')) }}</span>
                                {% if work.get('endDate') is not none %}
                                <span>&nbsp;&nbsp;<i class="far fa-clock"></i>&nbsp;{{
                                  humanize_duration(work.startDate, work.endDate) }}</span>
                                {% endif %}
                              </small>
                            </p>
                            <p>{{ work.summary }}</p>
                            {% if work.get('highlights') is not none %}
                            <ul class="pb-3" style="list-style-type: '-  '">
                              {% for highlight in work.highlights %}
                              <li class="my-1">{{ highlight }}</li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="fa fa-lg fa-code text-muted" style="width: 2rem"></i>
                  <p class="text-muted d-inline" style="font-size: 1.25rem">Skills</p>
                  <hr class="text-muted" />
                  <div class="row pt-1">
                    <div class="col">
                      <div style="float: right; width: 95%">
                        <ul class="list-unstyled border-start border-5">
                          {% for skill in resume.skills %}
                          <li class="m-3">
                            <strong>{{ skill.name }}:</strong>
                            <span>{{ ", ".join(skill.keywords) }}</span>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-5 pb-4">
                <div class="col">
                  <i class="fas fa-lg fa-graduation-cap text-muted" style="width: 2rem"></i>
                  <p class="text-muted d-inline" style="font-size: 1.25rem">Education</p>
                  <hr class="text-muted" />
                  <div class="row pt-1">
                    <div class="col">
                      <div style="float: right; width: 95%">
                        <ul class="list-unstyled">
                          {% for edu in resume.education %}
                          <div>
                            <p class="mb-0"><strong>{{ edu.area }},</strong>&nbsp;{{ edu.institution }}</p>
                            <p class="text-muted">
                              <small>{{ humanize_date(edu.startDate, edu.endDate) }}</small>
                            </p>
                          </div>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col">
                  <i class="fa fa-lg fa-child text-muted" style="width: 2rem"></i>
                  <p class="text-muted d-inline" style="font-size: 1.25rem">Volunteer Work</p>
                  <hr class="text-muted" />
                  <div class="row pt-1">
                    <div class="col">
                      <div style="float: right; width: 95%">
                        <ul class="list-unstyled">
                          {% for volun in resume.volunteer %}
                          <li class="card-nested">
                            <p class="mb-0"><strong>{{ volun.position }}</strong>,&nbsp;{{ volun.organization }}</p>
                            <p class="text-muted">
                              <small>{{ humanize_date(volun.startDate, volun.endDate) }}</small>
                            </p>
                            <p>{{ volun.summary }}</p>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>